@charset "UTF-8";

body{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}
header{
    background-color: #292727;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 15px;
}
main{
    background-color: #292727;
    color: white;
    padding: 15px;
    margin: 15px;
}
#rodape{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
    margin: 0px;
}
#rodapeTopo{
    background-color: #292727;
    text-align: center;
    margin-top: -22px;
}
nav{
    background-color: #643838;
    padding: 30px;
    margin: 20px;
    box-shadow: 6px 8px 3px #250101;
    display: flex;
    justify-content: space-between;
}
nav > a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
nav > a:hover{
    text-decoration: underline;
    color: yellow;
}
#principal{
    padding: 10px;
    text-align: center;
    margin-left: 3%;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#foto{
    background-color: black;
    border-radius: 50%;
    max-width: 10%;
    max-height: 10%;
    margin-left: 22%;
}
div{
    display: flex;
    align-items: center;
}